$primary_yellow: #FBE790;
$bg_color: #8FD9F7;
$bg_second_color: #FFF0DA;
$bg-lightGray: #eeeeee;
$text_color: #ffffff;
$text_bigTitle: #5E5E5E;
$text-desc: #B8B8B8;

$box_shadow_primary: 0px 4px 6px rgba(206, 115, 95, 0.5);
$box_shadow_around: 0px 4px 15px rgba(206, 115, 95, 0.5);
$inner_shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);